html { 
    margin:0;
    padding:0;
    background-color: whitesmoke;
    //background: url(background.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; 
    background-size: cover; }
   

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("background.jpg") no-repeat;
    background-size: cover;
    transition: 1s opacity;
    }

span {
    border: 1pt solid black;
    border-radius:90px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-top: 50px;
      }


 //HEADER MENU 

 .header {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: 50px;
}
 

//PROJECT(S)

.left {position: absolute; top: 650px; left: 850px;}
.center { position: absolute; top: 400px; left: 350px;}
.right { position: absolute; top: 80px; left: 760px;}


      
